.stack-work/
topocity.cabal
stack.yaml.lock
*~

.vscode/

in/local/
out/
docs/index.html
tools/reports/
tools/merger/files/
tools/downloader/files/
__pycache__/
tools/tags/*.txt
in/vienna/
*.hp
*.prof
